	<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('#slideshow').fadeSlideShow();
		});
	</script>

	<div class = "log-in-div">
		<%= form_tag(:contoller => :users, :action => :post_login, :method => :post) do %>
			<p>
			<%= text_field_tag :login_val, nil, placeholder: 'email@address.com'  %> <br/>
			</p>
			<p>
			<%= password_field_tag(:pass_val, nil, placeholder: 'password')  %> <br/>
			</p>
			<p>
			<%= submit_tag "Login", :id=>"login_submit" %>
			</p>
		<% end %>
	</div>

	<div class = "navbar" id="navbar">
		<div class = "navbar-inner">
			<table class = "nav-table">
				<tr class = "nav-tr">
					<td class="nav-td" id="nav-left-blank"> </td>
					<td class="nav-td" id="nav-logo" onclick="ScrollAnimate('body')"> Madison Gift Club</td>
					<td class="nav-td" id="nav-how-it-works"><a id="how-it-works-link" href="#" onclick = "ScrollAnimate('#how-it-works')">How it works</a></td>
					<td class="nav-td" id="nav-testimonials"><a id="testimonials-link" href="#t" onclick = "ScrollAnimate('#testimonials')">Testimonials</a></td>
					<td class="nav-td" id="nav-log-in"><a id="log-in-link" href="#" onclick = "ShowLogIn()"> Log In</a></td>
					<td class="nav-blank-right" id="nav-right-blank"> </td>
				</tr>
			</table>
		</div>
	</div>


<div id="slideshowWrapper">
<ul id="slideshow">
        <li><%= image_tag '3.jpg', :class=>'slideshow-image' %></li> <!-- This is the last image in the slideshow -->
        <li><%= image_tag '2.jpg', :class=>'slideshow-image' %></li>
        <li><%= image_tag '1.jpg', :class=>'slideshow-image' %></li>
    </ul><br />
</div>


<div id="how-it-works">
How it works section
</div>
<div id="testimonials">
Testimonial section
</div>
